*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
i{
    font-size: 40px;
    color:#e74c3c;
}
.max-width{
    margin: 10px 280px;
}
.adbtn{
    cursor: pointer;
}
/*cards*/
.card{
    position: relative;
    width: 240px;
    border: 1px solid #e74c3c;
    border-radius: 8px;
    box-shadow: 8px 8px 8px darkgrey;
}
.ch{
    border-bottom: 2px solid darkgrey;
}
/*listview styling starts*/


.listview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
hr{
    width: 170px;
    height: 1px;
    background-color: grey;
}
.listview h1{
    font-weight: bold;
    font-size: 60px;
}

.list-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.back-container{
    display: flex;
    align-items: center;
    flex-direction: row;   
    margin-bottom: 60px;
}
.back{
    font-size: 35px;
    margin-left: 15px;
    color:grey;
}
.list-card{
    padding: 50px 0px 0px 100px;
    width: 330px;
    height: 350px;
    margin-bottom: 60px;
}

.card-heading{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 70%;
    font-size: 30px;
    color: #e74c3c;
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: 2px solid darkgrey;
}
.completed-task{
    position: absolute;
    top: 35%;
    left: 30%;
    color: red;
    font-size: 27px;
    font-weight: 100px;
    text-decoration: solid line-through red 3px;
}
.check{
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    align-items: center;
    padding-left:10px ;
}
.check input{
    width: 20px;
    height: 20px;
}
.check label{
    margin-left: 10px;
    font-size: 24px;
    font-weight: normal;
}
.list-card .list-add{
    position: absolute;
    bottom: 3%;
    right: 3%;
}
/*popup*/
.popup{
    background-color: white;
    position:absolute;
    top: 30%;
    left: 35%;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    box-shadow: 8px 8px 8px darkgrey;
    padding: 10px 10px;
    text-align: center;
    width: 400px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pu{
    margin:15px 0px;
}
.popup-heading{
    color: #e74c3c;
    font-size: 25px;
    font-weight: 400;
}
.popup-input{
  box-sizing: border-box;
  width:300px;
  height: 35px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  box-shadow: 3px 3px 4px lightgray;
}

.popup-button button{
    border: none;
    padding: 5px 15px;
    background-color: #e74c3c;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: normal;
    width: 100px;
}
.popup-button button a{
 color: white;
}

.addtodo{
    filter: blur(8px);
}
